@using static EssentialConnection.Areas.Identity.Data.EssentialConnectionUser
@model IEnumerable<EssentialConnection.Areas.Identity.Data.EssentialConnectionUser>

@{
    ViewData["Title"] = "Index";
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
        </tr>
    </thead>
    <tbody>*@
<div class="h-full w-full flex flex-wrap justify-center">
    <div class="hidden h-full lg:flex lg:block w-1/5  bg-indigo-900 justify-center">
    </div>
    <div class="w-full lg:w-3/5 mb-4 flex flex-col sm:flex-row flex-wrap items-center sm:items-start sm:flex-nowrap sm:justify-center mt-4">
        @foreach (var item in Model)
        {

            @if (@item.Tipo == @TipoUsuario.Aluno)
            {
                <a asp-action="MostrarPerfilAluno" asp-route-id="@item.Id" class="h-64 border border-gray-400 lg:border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal w-11/12 sm:w-1/2 mx-4 mb-4">
                        <div class="">
                            <p class="text-sm text-gray-600 flex items-center">
                                <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                                </svg>
                                Usuário
                            </p>
                            <div class="text-gray-900 font-bold text-xl mb-2">@Html.DisplayFor(modelItem => item.NomeCompleto)</div>
                        </div>
                        <div class="overflow-y-auto mb-8">
                            <p class="text-xl">Contato:</p>
                            <p class="text-gray-700 text-base">@Html.DisplayFor(modelItem => item.Email)</p>
                        </div>
                        <div class="flex items-center">
                            <img class="w-10 h-10 rounded-full mr-4" src="~/imagens/user.png" alt="Enterprise icon">
                            <div class="text-base">
                                <p class="text-gray-900 font-bold leading-none uppercase">@Html.DisplayFor(modelItem => item.NomeCompleto)</p>
                                <p class="text-gray-500 font-light uppercase text-xs">@Html.DisplayFor(modelItem => item.Tipo)</p>
                            </div>
                        </div>
                </a>
            }
            else if (@item.Tipo == @TipoUsuario.Professor)
            {
                <a asp-action="MostrarPerfilAluno" asp-route-id="@item.Id" class="h-64 border border-gray-400 lg:border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal w-11/12 sm:w-1/2 mx-4 mb-4">
                        <div class="">
                            <p class="text-sm text-gray-600 flex items-center">
                                <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                                </svg>
                                Usuário
                            </p>
                            <div class="text-gray-900 font-bold text-xl mb-2">@Html.DisplayFor(modelItem => item.NomeCompleto)</div>
                        </div>
                        <div class="overflow-y-auto mb-8">
                            <p class="text-xl">Contato:</p>
                            <p class="text-gray-700 text-base">@Html.DisplayFor(modelItem => item.Email)</p>
                        </div>
                        <div class="flex items-center">
                            <img class="w-10 h-10 rounded-full mr-4" src="~/imagens/user.png" alt="Enterprise icon">
                            <div class="text-base">
                                <p class="text-gray-900 font-bold leading-none uppercase">@Html.DisplayFor(modelItem => item.NomeCompleto)</p>
                                <p class="text-gray-500 font-light uppercase text-xs">@Html.DisplayFor(modelItem => item.Tipo)</p>
                            </div>
                        </div>
                </a>
            }
            else
            {
                <a asp-action="MostrarPerfilAluno" asp-route-id="@item.Id" class="h-64 border border-gray-400 lg:border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal w-11/12 sm:w-1/2 mx-4 mb-4">
                        <div class="">
                            <p class="text-sm text-gray-600 flex items-center">
                                <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                                </svg>
                                Usuário
                            </p>
                            <div class="text-gray-900 font-bold text-xl mb-2">@Html.DisplayFor(modelItem => item.NomeCompleto)</div>
                        </div>
                        <div class="overflow-y-auto mb-8">
                            <p class="text-xl">Contato:</p>
                            <p class="text-gray-700 text-base">@Html.DisplayFor(modelItem => item.Email)</p>
                        </div>
                        <div class="flex items-center">
                            <img class="w-10 h-10 rounded-full mr-4" src="~/imagens/user.png" alt="Enterprise icon">
                            <div class="text-base">
                                <p class="text-gray-900 font-bold leading-none uppercase">@Html.DisplayFor(modelItem => item.NomeCompleto)</p>
                                <p class="text-gray-500 font-light uppercase text-xs">@Html.DisplayFor(modelItem => item.Tipo)</p>
                            </div>
                        </div>
                </a>
            }
        }
    </div>
    <div class="hidden h-full lg:flex lg:block w-1/5  bg-indigo-900 justify-center">
    </div>
</div>
@*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>

                    @{
                        if (@item.Tipo == @TipoUsuario.Aluno)
                        {
                            <a asp-action="MostrarPerfilAluno" asp-route-id="@item.Id">Edit</a>
                        }
                        else if (@item.Tipo == @TipoUsuario.Professor)
                        {
                            <a asp-action="MostrarPerfilCurso" asp-route-id="@item.Id">Visualizar Perfil</a>
                        }
                        else
                        {
                            <a asp-action="MostrarPerfilEmpresa" asp-route-id="@item.Id">Visualizar Perfil</a>
                        }
                    }
                </td>
            </tr>*@
@*</tbody>
</table>*@
