@model X.PagedList.IPagedList<EssentialConnection.Models.Curriculo>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Interesse em curriculo";
}

<h1>Index</h1>

@foreach (var item in Model) {
    <h1>Nome do aluno</h1>
    @Html.DisplayFor(modelItem=>item.Aluno.NomeCompleto)
    <h1>Descrição aluno</h1>
    <p> @Html.DisplayFor(modelItem=>item.DescricaoPessoal)</p>
    foreach (var itensInCompetencias in item.Compentencias)
    {
        <p>@itensInCompetencias.Descricao</p>
    }

    foreach (var itensCurriculo in item.ItensCurriculo)
    {
        <p>@itensCurriculo.Nome</p>
        <p>@itensCurriculo.DataInicio</p>
        <p>@itensCurriculo.DataFim</p>
        <p>@itensCurriculo.Descricao</p>
        <p>@itensCurriculo.Instituicao</p>

    }
}
<div class="row">
    @Html.PagedListPager(Model,pagina=>Url.Action("Index", new{pagina}))
</div>
