@using X.PagedList.Mvc.Core
@using (Html.BeginForm("Index", "Tinder", FormMethod.Post))
@using EssentialConnection.Models;
@model X.PagedList.IPagedList<EssentialConnection.Models.Vaga>
@{
    ViewData["Title"] = "Aplique interesse em alguma vaga";
}
<h1>Index</h1>

@foreach (var item in Model) {
    <h1>
        NomeVaga
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.Nome)
    </p>
    <h1>
        Descricao
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.Descricao)
    </p>
    <h1>
        Quantidade
    </h1>
    <p>
         @Html.DisplayFor(modelItem => item.Quantidade)
    </p>
    <h1>
         Tipo de vaga
    </h1>
    <p>
        @{
            if(item.CursoId==null){
                <p>Vaga de Empresa</p>
                @Html.DisplayFor(modelItem => item.EmpresaId)
            }
            else{
                <p>Vaga de Curso</p>
                    @Html.DisplayFor(modelItem => item.CursoId)
                }
            }
        </p>
        <form action="/Tinder/Index" method="post">
        <div class="form-group">
            <input type="hidden" name="vagaId" value="@item.VagaID">
            <input type="hidden" name="nomeVaga"  value=@item.Nome>
            <input type="submit" value="Interesse" class="btn btn-primary" />
        </div>
        </form>

    }
<div class="row">
    @Html.PagedListPager(Model,pagina=>Url.Action("Index", new{pagina}))
</div>
