@using X.PagedList.Mvc.Core
@using EssentialConnection.Models;
@model X.PagedList.IPagedList<EssentialConnection.Models.Vaga>
@{
    ViewData["Title"] = "Aplique interesse em alguma vaga";
}
<h1>Index</h1>

@foreach (var item in Model) {
    <h1>
        NomeVaga
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.Nome)
    </p>
    <h1>
        Descricao
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.Descricao)
    </p>
    <h1>
        Quantidade
    </h1>
    <p>
         @Html.DisplayFor(modelItem => item.Quantidade)
    </p>
    <h1>
         Tipo de vaga
    </h1>
    <p>
        @{
            if(item.CursoId==null){
                <p>Vaga de Empresa</p>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            }
            else{
                <p>Vaga de Curso</p>
                @Html.DisplayFor(modelitem=>item.Curso.Nome)
            }
            }
        </p>
        <form action="/Tinder/Index" method="post">
        <div class="form-group">
            <input type="hidden" name="vagaId" value="@item.VagaID">
            <input type="hidden" name="nomeVaga" value="@item.Nome">
            <input type="hidden" name="empresaId" value="@item.EmpresaId">
            @if (item.EmpresaId != null)
            {
                <input type="hidden" name="nomeEmpresa" value="@item.Empresa.Nome">
            }
            <input type="hidden" name="cursoId"  value=@item.CursoId>
            @if (item.CursoId != null)
            {
                <input type="hidden" name="nomeCurso"  value=@item.Curso.Nome>
            }
            <input type="submit" value="Interesse" class="btn btn-primary" />
        </div>
        </form>
    }
    <p>
    <a asp-action="ListarTodos">Listar todas vagas.</a>
    </p>
<div class="row">
    @Html.PagedListPager(Model,pagina=>Url.Action("Index", new{pagina}))
</div>
<section>
    <script>
        
    </script>
</section>
