@model IEnumerable<EssentialConnection.Models.Vaga>

@{
    ViewData["Title"] = "ListarTodos";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EssentialConnection.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/app.min.css" asp-append-version="true" />
</head>
<body class="bg-conic">
<form asp-controller="Tinder" asp-action="ListarTodos" method="post" id='pesquisarVaga' style="margin-top:40px " class="flex flex-wrap justify-center items-center space-x-5">
        <div class="pesqbox w-28 h-28 flex-auto filtro">
            <div class="col-md-12" style="margin-left:10px">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-filter"></i>Filtros</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-slate-50">Nome</label>
                                    <input type="text" class="form-control" id='nomeVaga'>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="text-slate-50">Tipo de Vaga </label>
                                <select class="form-select" id='selectTipoVaga'>
                                  <option selected>Escolha o tipo de vaga</option>
                                  <option value="1">Empresa</option>
                                  <option value="2">Curso</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div id='divVaga'>
                                    <div class="form-group" id='divEmpresa'>
                                        <label class="control-label"></label>
                                        <select class ="form-control" asp-items="ViewBag.EmpresaId" id='empresaId'></select>
                                    </div>
                                    <div class="form-group" id='divCurso'>
                                        <label class="control-label">Curso</label>
                                        <select class ="form-control" asp-items="ViewBag.CursoId" id='cursoId'></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" style="visibility: hidden">Botão pesquisar</label>
                                    <div class="input-group">
                                        <input type="hidden" name="nomeVaga"  value="" id='nomeVagaPesquisar'>
                                        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded form-control" id='buttonPesquisar'>Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<div style="margin-top: 40px;margin-left:10px; display: flex;" class="text-slate-50">
<label style="width:24px" class="text-slate-50 text-xl">Vagas </label>
    <a asp-action="Create" style="margin-left: 35px;margin-top: 3px;">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>  
</a>

</div>
<div></div>
<div class="grid bg-grey-300 overflow-hidden grid-lines grid-cols-2 auto-rows-auto gap-3 w-auto h-auto " style="margin-top: 30px;align-items: center; ">    
    @foreach (var item in Model){
	<div class="box" style="margin-left: 10px">
        <h6 class="font-semibold text-xl" style="margin-top:10px; margin-left: 10px">
            <a style="width=6px" asp-action="Details" asp-route-id="@item.VagaID">
                @Html.DisplayFor(modelItem => item.Nome)
            </a>
        </h6>
        <br>
        @if(item.EmpresaId == 0)
        {
            <p class="text-base"  style="margin-left: 10px">Empresa: @Html.DisplayFor(modelItem => item.CursoId)</p>
        }
        else{
        <p class="text-base"  style="margin-left: 10px">Empresa: @Html.DisplayFor(modelItem => item.EmpresaId)</p>
        }
        <p class="text-base"  style="margin-left: 10px">Responsavel: @Html.DisplayFor(modelItem => item.Responsavel)</p>
        <p class="text-base"  style="margin-left: 10px">@Html.DisplayFor(modelItem => item.Descricao)</p>
        <p class="text-base"  style="margin-left: 10px">@Html.DisplayFor(modelItem => item.Quantidade) Vaga (as)</p>
        <p class="text-base"  style="margin-left: 10px">Data limite: @Html.DisplayFor(modelItem => item.DataExpiracao)</p>
        


        
    </div>
    }
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataExpiracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataExpiracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.VagaID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script >
        $('#selectTipoVaga').on('change',function(){
            var valorSelect =$(this).val();
            alert(valorSelect);
            $('#divVaga').children('div').hide();
            if(valorSelect==1){
                $('#divEmpresa').show();
                document.getElementById('empresaId').value=null;
                document.getElementById('cursoId').value=null;
            }
            else{
                $('#divCurso').show();
                document.getElementById('cursoId').value=null;
                document.getElementById('empresaId').value=null;
            }
        });
        $(document).ready(function(){
            $('#divVaga').children('div').hide();
        });

        $("#buttonPesquisar").click(function(){
            var nomeVaga = document.getElementById('nomeVaga').value;
            $('#nomeVagaPesquisar').val(nomeVaga);
            $('#pesquisarVaga').submit();
        });
    </script>
}
</body>
