@model IEnumerable<EssentialConnection.Models.Vaga>

@{
    ViewData["Title"] = "ListarTodos";
}
<form asp-controller="Tinder" asp-action="ListarTodos" method="post" id='pesquisarVaga'>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-filter"></i>Filtros</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" id='nomeVaga'>
                                </div>
                            </div>
                            @*<div class="col-sm-3">
                                <label class="control-label">Tipo de Vaga </label>
                                <select class="form-select" id='selectTipoVaga'>
                                  <option selected>Escolha o tipo de vaga</option>
                                  <option value="1">Empresa</option>
                                  <option value="2">Curso</option>
                                </select>
                            </div>*@
                           @* <div class="col-sm-3">
                                <div id='divVaga'>
                                    <div class="form-group" id='divEmpresa'>
                                        <label class="control-label"></label>
                                        <select class ="form-control" asp-items="ViewBag.EmpresaId" id='empresaId'></select>
                                    </div>
                                    <div class="form-group" id='divCurso'>
                                        <label class="control-label">Curso</label>
                                        <select class ="form-control" asp-items="ViewBag.CursoId" id='cursoId'></select>
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" style="visibility: hidden">Botão pesquisar</label>
                                    <div class="input-group">
                                        <input type="hidden" name="nomeVaga"  value="" id='nomeVagaPesquisar'>
                                        <button type="button" class="btn btn-primary form-control" id='buttonPesquisar'>Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<h1>Vagas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="flex flex-wrap overflow-hidden xl:-mx-10">
   @foreach (var item in Model){
  <div class="w-full overflow-hidden xl:my-10 xl:px-10 xl:w-1/4">
    <p>teste</p>
  </div>
   }

</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataExpiracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataExpiracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.VagaID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script >
        $('#selectTipoVaga').on('change',function(){
            var valorSelect =$(this).val();
            alert(valorSelect);
            $('#divVaga').children('div').hide();
            if(valorSelect==1){
                $('#divEmpresa').show();
                document.getElementById('empresaId').value=null;
                document.getElementById('cursoId').value=null;
            }
            else{
                $('#divCurso').show();
                document.getElementById('cursoId').value=null;
                document.getElementById('empresaId').value=null;
            }
        });
        $(document).ready(function(){
            $('#divVaga').children('div').hide();
        });

        $("#buttonPesquisar").click(function(){
            var nomeVaga = document.getElementById('nomeVaga').value;
            $('#nomeVagaPesquisar').val(nomeVaga);
            $('#pesquisarVaga').submit();
        });
    </script>
}


